<section class="l-locator-container">
    <h1 class="l-locator-title">Holster<span class="l-locator-holster-logo-spacer"></span> Locator</h1>
    <h2>Tell us more about your {{SelectedFilters[0].Value}}</h2>
    <div class="l-locator-questions shared-form">
        <autocomplete-directive data-filter-lists="FilterLists" data-filter-index="1" data-input-name="Make" data-get-next-filter="GetNextFilter" data-selected-filters="SelectedFilters">

        </autocomplete-directive>

        <autocomplete-directive data-filter-lists="FilterLists" data-filter-index="2" data-input-name="Model" data-get-next-filter="GetNextFilter" data-selected-filters="SelectedFilters">

        </autocomplete-directive>

        <select-directive data-filter-lists="FilterLists" data-filter-index="3" data-input-name="Barrel Length" data-get-next-filter="GetNextFilter" data-selected-filters="SelectedFilters">
        </select-directive>

        <button data-ng-disabled="!SelectedFilters[3].IsValid" class="big-primary-button locator-primary-button" type="submit">Continue</button>
    </div>
</section>

<gun-summary-directive></gun-summary-directive>