.l {
    &-header {
        background: #0094ff;
        box-shadow: 0 1px 8px #9e9e9e;
        height: 5em;
        padding: .5em;
        width: 100%;
    }

    &-navigation {
        background: #cecece;
        height: 100%;
        width: 22em;
    }
}
