/// <reference path="../_mixin.scss" />

html body {
    background-color: #fafafa;
    font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #212121;
    overflow: hidden;
}

.l {
    &-header {
        background: $darkblue;
        height: 2.5em;
        padding: .5em;

        &-showen {
            height: 16em;
            padding: 115px 16px 0;
            box-shadow: 0 1px 8px #9e9e9e;
            height: 5em;
            padding: .5em;
            width: 100%;
            box-shadow: 0 2px 5px rgba(0,0,0,.26);
            left: 0;
            right: 0;
            top: -192px;
            z-index: 1;
            position: fixed;
        }
    }

    &-main {
        background: #fafafa;
        float: left;
        height: 100%;
        padding-bottom: 100px;
        //transition: padding-left .2s cubic-bezier(.4,0,.2,1);
        box-sizing: border-box;
        width: 100%;
        padding-left: 16em;

        &-container {
            margin: auto;
            width: 1160px;
            padding-top: 80px;
        }
    }

    &-navigation {
        background: $whitegray;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        top: 0;
        width: 16em;
        z-index: 4;
        /*height: 100%;
        width: 22em;
        border-right: 1px solid $black;
        bottom: 0;
        color: #212121;
        display: block;
        left: 0;
       
        transform-style: preserve-3d;
        transition-delay: .1s;
        transition-duration: .2s;
        transition-property: transform,left;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transform: translateZ(0);
            
        transition: all .15s ease-in-out;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.35);*/
        /*@media screen and (max-width: 1479px) {
            visibility: hidden;
            transform: translateX(-241px);
        }

        & .is-visibility {
            transform: translateX(0);
            visibility: visible;
        }*/
    }

    &-footer {
        background: $darkblue;
        height: 2.5em;
        padding: .5em;
    }
}
